<div class="row">
	<div class="col-md-4">
		<form action="/send-sms" method="post" class="card-body">
			<div class="form-group">
				<div class="form-group">
					<input type="tel" class="form-control" name="phone" placeholder="Numero de telefono: ej(+58444444)" autocomplete="off"> 
				</div>
				<p>Mensaje</p>
				<textarea class="form-control" name="message" placeholder="escribe tu mensaje" autofocus="true"> </textarea>
			</div>
			
			<button class="btn btn-primary btn-block" >Send</button>
		</form>
	</div>
	<div class="col-md-8">
			{{#if messages}}
					<p>Mensajes Listados</p>
					<ul class="list-group" style="height:70vh; overflow-y:auto" id="messages">
					{{#each messages}}
						<div class="list-group-item list-group-item-action">
							<p>{{Body}}</p>
							<span>{{_id}}</span>
							<span>{{To}}</span>
							<span>{{From}}</span>
							<span>{{timeAgo createdAt}}</span>
						</div>
					{{/each}}
				</ul>	
			{{else}}
			<p class="text-danger">Sin mensajes</p>
			{{/if}}
		
	</div>
</div>